<header class="homepage-header">
  <div class="container homepage-header-container">
    <nav class="navbar navbar-dark navbar-expand-md flex-wrap align-items-end w-100">
      <div class="navbar-brand-container order-0">
        <a href="#" class="navbar-brand d-flex align-items-center p-0 m-0">
          <img class="wowsims-logo" src="assets/img/WoW-Simulator-Icon.png">
          <div class="d-flex flex-column">
            <h2 class="wowsims-title">WoWSims</h2>
            <h3 class="expansion-title w-100">Classic WoW Simulations</h2>
          </div>
        </a>
      </div>
      <div class="navbar-nav d-none d-md-flex">
        <a href="https://discord.gg/p3DgvmnDCS" target="_blank" class="nav-link">
          <p class="m-0"><i class="discord-link fab fa-discord fa-2x"></i>&nbsp;</p>
        </a>
        <a href="https://github.com/wowsims/wotlk" target="_blank" class="nav-link">
          <p class="m-0"><i class="github-link fab fa-github fa-2x"></i>&nbsp;</p>
        </a>
        <a href="https://patreon.com/wowsims" target="_blank" class="nav-link">
          <i class="patreon-link fab fa-patreon fa-2x me-2"></i>
          <span class="fs-4 d-md-none d-lg-block">Support our devs</span>
        </a>
      </div>
    </nav>
  </div>
</header>
