#expansion-scrollspy {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: var(--container-padding-x);
    display: flex;
    padding-top: calc(var(--container-padding-y) * 2);
    padding-left: calc(var(--container-padding-x) / 5);

    @include media-breakpoint-down(1080p) {
        padding-left: calc(var(--container-padding-x) / 8);
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }

    @include media-breakpoint-down(xxl) {
        padding-top: calc(var(--container-padding-y) * 3);
        padding-left: 0;
        justify-content: center;
    }
}

.expansion-scrollspy-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--container-padding) / 16);

    @include media-breakpoint-down(xxl) {
        align-items: center;
        gap: calc(var(--container-padding) / 6);
    }
}

.expansion-scrollspy-link {
    display: flex;
    align-items: center;
    color: var(--expansion-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: font-size 0.15s ease-in-out;

    &.active {
        font-size: 2rem;

        .expansion-scrollspy-link-icon {
            width: 2rem;
            height: 2rem;

            @include media-breakpoint-down(xxl) {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    @include media-breakpoint-down(xxl) {
        span {
            display: none;
        }
    }
}

.expansion-scrollspy-link-icon {
    margin-right: var(--spacer-2);
    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;

    @include media-breakpoint-down(xxl) {
        margin-right: 0;
        width: 2.5rem;
        height: 2.5rem;
    }
}
